<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <main>
            <img id="hero-image" src="<%= heroImage %>">
            <h1> Its alive!</h1>
        </main>
        <footer>

        </footer>
    </body>
</html>