<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <main>
            <h1> Its alive!</h1>
            <form action="/loading" method="POST">
                <fieldset> 
                    <input type="text" name="summonerName" placeholder="Summoner Name" required>
                    <button type="submit"> Shablam</button>
                </fieldset>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>