<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <header>

        </header>
        <main>
            <p> Summoner Name: <%= playerPackage.summoner %> </p>
            <p> Summoner Level: <%= playerPackage.summonerLevel %> </p>
            <p> Encrypted ID: <%= playerPackage.summonerID %></p>

            <form action='/' method=GET> 
                <button type='submit'> Take me Back </button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>