<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <main>
            <p> Summoner Name: <%= playerPackage.summonerName %> </p>
            <p> Summoner Level: <%= playerPackage.summonerLVL %> </p>

            <form action='/' method=GET> 
                <button type='submit'> Take me Back </button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>