<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <header>

        </header>
        <main>
            <p> Summoner Name: <%= summoner.summoner %> </p>
            <p> Summoner Level: <%= summoner.summonerLevel %> </p>
            <p> Encrypted ID: <%= summoner.summonerID %></p>

            <form action='/' method=GET> 
                <button type='submit'> Take me Back </button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>